.force-elements-builder {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.everything-else{
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
}

.title-input-builder{
    all: unset;
    border-bottom: 1px solid #c1c1c1;
    font-size: 25px;
    padding: 0 10px;
    color: #c1c1c1  ;
}

.force-elements-builder textarea{
    border-bottom: 1px solid #c1c1c1;
    font-size: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border: none;
    outline: none;
}

.slides-builder{
    display: grid;
    gap: 3px;
    max-width: 50%;
    font-family: Arial, Helvetica, sans-serif;

}

.slides-builder input{
    outline: none;
    padding: 10px;
}

.slides-builder textarea{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    height: 150px;
    padding: 10px;
}

.slides-builder select{
    outline: none;
    padding: 10px;
}

.render-code{
    background-color: black;
    color: green;
    padding: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.copy-to-clip-board-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865f2;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width:700px){

    .slides-builder{
        max-width: 100%;
    }
}

